<div class="search_container">
    
    <form (keyup)="key_has_been_pressed($event.key)">
        <input class="search_field" type="text" name="search_string" placeholder="Search history" [(ngModel)]="search_string">
    </form>
    <img class="help_icon_img" title="Press enter to search for a city in the history" src="../../../../../../assets/help_white_24dp.svg" alt="help icon">
</div>

<div class="container">
    <div class="header_content">
        <img class="back_arrow_img" (click)="on_back_pressed()" title="Press to navigate back to previous page" src="../../../../../../assets/arrow_back_black_24dp.svg" alt="back arrow icon">
        <p>History</p>
    </div>
    <div class="list_container" *ngIf="history_records_array.length >= 1; else showEmptyHistoryMsg">
        <app-list-item-history *ngFor="let i of filtered_history_records_array; let index = index;"     [location]="i[1]" [weather]="i[2]" [key]="i[0]" (on_delete_item)="delete_history_item(i[0])"></app-list-item-history>
    </div>
    <ng-template #showEmptyHistoryMsg>
        <p class="info_txt">Your search history is currently empty.</p>
        <p class="info_txt">Click <a routerLink="/">here</a> for a redirect back to the home page.</p>
    </ng-template>

</div>
