<div class="item_main_container">
    <div class="item_details_container">
        <div class="img_container">
            <img src="./../../../../../../assets/sky_sunset_1.jpg" alt="image">
            <div class="item_temp_txt">
                <h2>{{weather?.weather.temp_c}}&deg;c</h2>
            </div>
        </div>
        <div class="item_info_container">
            <h5 class="location_txt">{{ location?.location.name }}, {{ location?.location.country }}</h5>
            <p class="time_txt">{{ location?.location.localtime }}</p>
        </div>
    </div>
    <img class="delete_record" (click)="on_delete_clicked()" src="./../../../../../../assets/delete_black_24dp.svg" alt="Delete record">
</div>