<div class="item_main_container">
    <div class="item_details_container">
        <div class="img_container">
            <img src="./../../../../../../assets/sky_sunset_1.jpg" alt="image">
            <div class="item_temp_txt">
                <h2>21&deg;c</h2>
            </div>
        </div>
        <div class="item_info_container">
            <h5 class="location_txt">McLean, Virginia</h5>
            <p class="time_txt">2022-06-18 21:56</p>
        </div>
    </div>
    <img class="delete_record" src="./../../../../../../assets/delete_black_24dp.svg" alt="Delete record">
</div>
