/* You can add global styles to this file, and also import other style files */
:root{
    --blue_1: #3c429e;
    --blue_2: #4c52ad;
    --yellow_1: #fac742;
    --accent:#FFF759;
    --secondary-accent: #9459FF;
    --white: #ffffff;
    --grey_1: #ededed;
    --shadow_dark: rgba(0,0,0,0.3);
    --shadow_light: rgba(255, 255, 255, 0.1);

    /* text colors */
    --primary-text-dark: #cccccc;
    --secondary-text-dark: #b3b3b3;
    --primary-text-light: #262626;
    --secondary-text-light: #595959;
    --placeholder-text-light: #b3b3b3;
    --placeholder-text-dark: #bfbfbf;

    /* background colors */
    --background-main-light: #fcfcfc;
    --background-main-dark: #262626;
    --background-card-dark: #333333;
    --background-card-light: #fefffc;

    /* button colors */
    --button-bg-light: rgba(255, 247, 89, 1);
    --button-bg-dark: rgba(255, 247, 89, 0.5);
    --button-hover: rgba(255, 247, 89, 0.75);
    --button-text-dark: black;
    --button-text-light: #1a1a1a;

    /* border colors */
    --border-color-dark: #666666;
    --border-color-light: #d9d9d9;
    --border-radius: 15px;

    /* image colors */
    --text-on-list-item-img-color: #fff;

    /* img filters */
    --day-img-filter: sepia(100%) saturate(100%) brightness(70%) hue-rotate(360deg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-main-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}